.navigationbar{
    display: flex;
    justify-content: space-between;
    padding: 19px;
}

.right-side{
     display: flex;
}

.navigationbar > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.link-navbar{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link-navbar a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.link-navbar:hover{
    border-bottom: 1px solid black;
}

.link-navbar a:hover{
    color: black;
}

.AccountHead{
    justify-content: space-around;
    padding: 19px;
}

.Defter{

}

.accountbar{
    display: flex;
    justify-content: space-around;
    padding: 38px;
}